body {
  text-align: center;
  font-weight: bolder;
  font-family: Comic Sans MS, Comic Sans, cursive;
  
}

btn {
  border: 2px solid black;
  cursor: pointer;
}

btn:hover {
  background: orange;
}

.hidden {
  display: none;
}


